// appointments section
.nav-item_filtr {
    padding-left: 20px;
    font-size: 18px;
  }

#cardsFilter {
  background-image: url("@img/bg.jpg");
  background-size: cover;
  color: white;
}

#cardsFilter button {
  min-width: 80px;
}  