html, body {
  height: 100%;
}

.background_img {
    background: url("@img/background.jpeg");
    background-size: cover;
    min-height: 85vh;
    background-position: center center;
    /* Закрепляем фон на месте при прокручивании страницы */
    background-attachment: fixed;
  }
  
  .header__logo-title {
    color: #05137d;
    padding-left: 5px;
  }
  .main_container {
    width: 90%;
    margin: 0 auto;
  }
  .main_title {
    padding: 50px 0px 20px;
  }
  .modal-header_svg {
    padding-right: 5px;
  }
  .modal-header_title {
    margin-bottom: 0.1rem;
  }