// main section
.background_img {
    background: url("@img/background.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-bottom: 0px;
  }
  
  .header__logo-title {
    color: #05137d;
    padding-left: 5px;
    font-size: 22px;
  }
  .main_container {
    width: 60%;
    margin-left: 30%;
  }
  .main_title {
    padding: 80px 0px 40px;
  }

  // modal section
  .modal-header_svg {
    padding-right: 5px;
    width: 30px;
  }
  .modal-header_title {
    margin-bottom: 0.1rem;
  }

// appointments section
  .nav-item_filtr {
padding-left: 20px;
  }